* {
  box-sizing: border-box;
}

@font-face {
  font-family: "diplomaFont";
  font-style: normal;
  font-weight: 400;
  src: local("diplomaFont"),
    url("../assets/fonts/diplomaFont.woff2") format("woff2");
}

html {
  color: #111111;
  font-size: 16px;
  font-family: "diplomaFont", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  font-size: 1rem;
}
