$main-orange-color: rgba(254, 97, 72, 1);
$main-dark-color: rgb(37, 33, 40);
$main-black-color: #000;
$main-gray-color: #2f2b32;
$main-white-color: #fff;
$main-dark-white-color: #e8e8e8;
$image-height: 600px;
