$main-orange-color: rgba(254, 97, 72, 1);
$main-dark-color: rgb(37, 33, 40);
$main-black-color: #000;
$main-gray-color: #2f2b32;
$main-white-color: #fff;
$main-dark-white-color: #e8e8e8;
$main-underLine-color: #4d4a4e;
$image-height: 600px;
$payment-header-color: #868686;
$payment-underline-first-color: #f4f4f4;
$payment-underline-second-color: rgba(0, 0, 0, 0.2);
$button-hover-color: #e77353;
