@import "./variables.scss";

.beginnerOrPro-cover {
  width: 100%;
  height: 600px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: space-evenly;
  margin-top: 480px;

  &__content {
    width: 50%;
    height: $image-height;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    &_background-transition {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
    }

    &_background-transition:hover {
      background-color: $main-orange-color;
      opacity: 0.45;
    }

    &_description-cover {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      z-index: 2;

      &_description {
        text-transform: uppercase;
        font-size: 2rem;
        color: $main-white-color;
        letter-spacing: 2.5px;
      }

      &_image {
        background-image: url("/src/assets/images/navigation/arrow_orange_mv2.webp");
        background-repeat: no-repeat;
        $image-size: 55px;
        width: $image-size;
        height: $image-size;
        transform: rotate(-90deg);
        margin-top: 20px;
      }

      &_image:hover {
        background-image: url("/src/assets/images/navigation/arrow_white_mv2.webp");
      }
    }
  }
}

.left-background {
  background-image: url("/src/assets/images/selector_first/rookie.webp");
}

.right-background {
  background-image: url("/src/assets/images/selector_first/professional.webp");
}
