@import "../../../../sass/variables.scss";
@import "../../../../sass/mixin.scss";

.forgotPassword__container {
  width: 100%;
  height: 100vh;
  background-color: $main-dark-color;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 15;

  &_close-button {
    position: absolute;
    top: 100px;
    right: 50px;
    background-color: transparent;
    border: none;
    color: $main-white-color;
    font-size: 30px;
    transform: scaleX(1.2);
    margin-right: 20px;
    outline: none;
  }
}

.forgotPassword__content {
  text-align: center;
  color: $main-white-color;

  &_header {
    font-size: 2.7rem;
  }

  &_description {
    font-size: 1rem;
    margin-top: 20px;
  }

  &_input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    width: 320px;
  }

  &_input {
    width: 100%;
    border: 1px solid transparent;
    border-bottom: 1px solid $main-dark-white-color;
    padding-bottom: 5px;
    background-color: transparent;
    outline: none;
    color: $main-white-color;
    font-size: 0.9rem;
  }

  &_input:focus {
    border-bottom: 1px solid $main-orange-color;
  }

  &_button-cover {
    margin-top: 50px;
    width: 100%;
  }

  &_logInAndSignUp-btn {
    width: 320px;
    height: 48px;
    border: none;
    background-color: $main-orange-color;
    color: $main-white-color;
    font-size: 0.9rem;
  }

  &_logInAndSignUp-btn:hover {
    background-color: $button-hover-color;
  }
}

.forgotPassword__content_input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $main-dark-white-color;
  opacity: 1;
}
.forgotPassword__content_input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $main-dark-white-color;
}
.forgotPassword__content_input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $main-dark-white-color;
  opacity: 1;
}
.forgotPassword__content_input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $main-dark-white-color;
  opacity: 1;
}
.forgotPassword__content_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $main-dark-white-color;
}
