@import "../../../sass/variables.scss";

.page-header {
  width: 100%;
  height: 85px;
  background-color: $main-dark-color;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &__global-nav {
    display: flex;
    justify-content: space-evenly;
  }

  &__nav-link {
    color: #bdbdbd;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 10px;
  }

  &__nav-link:hover {
    color: $main-orange-color;
  }

  &__nav-link:active {
    color: white;
  }

  &__logIn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    width: 100px;
    height: 50px;
    position: relative;
  }

  &__logIn_icon {
    width: 25px;
    height: 25px;
    stroke-width: 0;
    fill-opacity: 1;
    stroke: #5e97ff;
    stroke-opacity: 1;
    fill: rgba(254, 97, 72, 1);
  }

  &__logIn_text {
    color: $main-orange-color;
    padding-left: 15px;
  }

  &__logIn_button {
    width: 110px;
    height: 55px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
}

.mobileBurgerMenu__cover {
  display: none;
}

@media (max-width: 414px) {
  .page-header {
    position: static;
    width: 100%;
    height: 90px;
    &__global-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &__logIn {
      justify-content: flex-end;
    }
  }

  .mobileBurgerMenu {
    &__cover {
      width: 80%;
      display: flex;
      justify-content: flex-end;
    }
    &__btn {
      background-color: transparent;
      border: none;
      outline: none;
      z-index: 15;
    }
    &__content {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      color: white;
      height: 100vh;
      width: 80vw;
      position: absolute;
      top: 0;
      right: -80vw;
      background-color: $main-dark-color;
      padding: 80px 20px 20px;
      z-index: 3;
      &.show {
        right: 0;
        transition: all 0.5s;
      }
      &.hide {
        right: -80vw;
        transition: all 0.5s;
      }
    }
  }

  .burgerButton {
    &__cover {
      display: flex;
      flex-direction: column;
      width: 27px;
      height: 30px;
    }
    &__content {
      margin-top: 7px;
      background-color: rgba(254, 97, 72, 1);
      height: 3px;
      width: 100%;
      border-radius: 3px;
      transition: all 0.25s ease-in-out;
      &.line1 {
        transform: translateY(10px) rotate(-45deg);
        background-color: rgba(255, 255, 255, 1);
      }

      &.line2 {
        opacity: 0;
        background-color: rgba(255, 255, 255, 1);
      }

      &.line3 {
        transform: translateY(-10px) rotate(45deg);
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}
// translateY(-50%)
// translateY(50%)
