@import "../../../sass/variables.scss";

.startTrainingToday-continer {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: $main-gray-color;

  &__header {
    color: $main-white-color;
    font-size: 1.5rem;
    letter-spacing: 13px;
  }

  &__btn {
    margin-top: 60px;
    padding-top: 13px;
    width: 212px;
    height: 55px;
    background-color: $main-dark-color;
    font-size: 20px;
    line-height: 28px;
    color: $main-orange-color;
    text-align: center;
  }

  &__btn:hover {
    background-color: $main-orange-color;
    color: $main-dark-color;
  }
}

@media (max-width: 414px) {
  .startTrainingToday-continer {
    padding: 60px 40px;

    &__header {
      font-size: 1.5rem;
      letter-spacing: 7px;
      max-width: 145px;
      line-height: 2rem;
      text-align: center;
    }

    &__btn {
      margin-top: 25px;
    }
  }
}
