@import "../../../sass/variables.scss";

.winnings-cover {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/background/orange_strip.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 200px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    text-transform: uppercase;
    font-size: 4.8rem;
    color: $main-dark-color;
    letter-spacing: 15px;
    margin-bottom: 80px;
  }

  &__description {
    display: flex;
    justify-content: space-evenly;
    width: 85%;

    &_element {
      max-width: 125px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.element {
  &__number {
    width: 125px;
    padding-bottom: 10px;
    border-bottom: 1px solid $main-dark-color;

    &_text {
      text-align: left;
      font-size: 4.8rem;
      font-weight: 800;
      color: $main-dark-color;
    }
  }
  &__description {
    margin-top: 25px;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: $main-dark-color;
  }
}

@media (max-width: 414px) {
  .winnings-cover {
    padding: 40px 20px;
    background-position: center;
  }

  .content {
    &__header {
      font-size: 2.3rem;
      margin-bottom: 40px;
    }

    &__description {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;

      &_element {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-right: 40px;
        margin-bottom: 15px;
      }
    }
  }

  .element {
    &__number {
      width: 87px;

      &_text {
        font-size: 2.3rem;
      }
    }
    &__description {
      font-size: 1rem;
      max-width: 87px;
    }
  }
}
