@import "../../../sass/variables.scss";
@import "../../../sass/mixin.scss";

.plans__container {
  height: 100%;
  width: 100%;
  background-color: $main-dark-color;
  padding: 80px 20px;
}

.plans__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_header {
    color: $main-white-color;
    text-align: center;
    font-size: 4.5rem;
    line-height: 5rem;
    letter-spacing: 5px;
    margin-top: 55px;
  }
}

.plansItem__container {
  width: 980px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

@media (max-width: 414px) {
  .plans__container {
    padding: 20px;
  }

  .plans__content {
    &_header {
      font-size: 2.5rem;
      margin-top: 15px;
    }
  }

  .plansItem__container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
