@import "../../../sass/variables.scss";
@import "../../../sass/mixin.scss";

.popUp__container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  &_close-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &_close-button {
    width: 24px;
    height: 24px;
    font-size: inherit;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.popUp__content {
  width: 580px;
  height: 284px;
  background-color: $main-white-color;
  color: $main-black-color;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_message {
    max-width: 440px;
    margin-bottom: 40px;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    line-height: 1.3rem;
    text-align: center;
    margin: 45px auto;
  }

  &_gotIt-button {
    width: 132px;
    height: 40px;
    padding: 8px 16px;
    color: $main-white-color;
    background-color: $main-black-color;
    border: none;
  }

  &_gotIt-button:hover {
    background-color: grey;
  }
}
