@import "../../../sass/variables.scss";
@import "../../../sass/mixin.scss";

$input-field-padding: 2px 5px;

.bookApp__container {
  width: 100%;
  height: 583px;
  background-color: $main-gray-color;
  padding: 100px 0;
}

.bookApp__content {
  display: flex;
  justify-content: center;
  align-items: center;

  &_phone {
    width: 190px;
    height: 370px;
  }

  &_app {
    margin-left: 52px;
    width: 333px;
    color: $main-white-color;
  }
}

.app {
  &__header {
    font-size: 1.8rem;
    line-height: 40px;
    text-align: center;
  }

  &__description {
    margin: 18px 0 20px;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
  }

  &__links {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
}

.phone_image {
  width: 200px;
  height: 370px;
}

.app__input {
  display: flex;
  justify-content: space-between;
  &_code-number {
    @include BookAppInputFields;
    width: 73px;
  }

  &_phone-number {
    width: 150px;
    @include BookAppInputFields;
  }

  &_button {
    width: 91px;
    height: 40px;
    color: $main-dark-color;
    background-color: $main-orange-color;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &_button:hover {
    background-color: $button-hover-color;
  }
}

.error {
  border: 2px solid red;
}

.input-field-placeHolder-color:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $main-dark-white-color;
  opacity: 1;
}
.input-field-placeHolder-color::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $main-dark-white-color;
}
.emailLogIn__content_input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $main-dark-white-color;
  opacity: 1;
}
.input-field-placeHolder-color::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $main-dark-white-color;
  opacity: 1;
}
.input-field-placeHolder-color:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $main-dark-white-color;
}

@media (max-width: 414px) {
  .bookApp__container {
    height: 495px;
    padding: 80px 0 15px;
  }
  .bookApp__content {
    &_phone {
      display: none;
    }

    &_app {
      margin-left: 0;
      width: 100%;
      padding: 0 45px;
    }
  }

  .app {
    &__links {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &_ref {
        margin-bottom: 15px;
      }
    }
  }

  .app__input {
    display: none;
  }
}
