@import "../../../sass/variables.scss";
@import "../../../sass/mixin.scss";

.bookOnline__container {
  height: 100%;
  width: 100%;
  background-color: $main-dark-color;
  padding: 80px 20px;
  position: relative;
}

.bookOnline__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_header {
    color: $main-white-color;
    text-align: center;
    font-size: 4.5rem;
    line-height: 5rem;
    letter-spacing: 5px;
    margin-top: 55px;
  }
}

.bookOnlineItem__container {
  width: 980px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.first-image-booking {
  background-image: url("../../../assets/images/gallery/first.webp");
  @include background-image-style;
}

.second-image-booking {
  background-image: url("../../../assets/images/gallery/forth.webp");
  @include background-image-style;
}

.third-image-booking {
  background-image: url("../../../assets/images/gallery/sixth.webp");
  @include background-image-style;
}

@media (max-width: 414px) {
  .bookOnline__container {
    padding: 0 20px 30px;
  }

  .bookOnline__content {
    &_header {
      font-size: 2.5rem;
      margin-top: 15px;
    }
  }

  .bookOnlineItem__container {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
