@import "../../../../sass/variables.scss";
@import "../../../../sass/mixin.scss";
@mixin imageProperties {
  background-repeat: no-repeat;
  background-size: 100%;
}
.galleryDetailed__container {
  padding: 30px 30px;
  background-color: #2f2b32;
  width: 100%;
  height: 100%;
}

.detailedContent {
  width: 100%;
  height: 100%;
  &__header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;

    &_btn {
      background-color: transparent;
      border: none;
      color: $main-white-color;
      font-size: 30px;
      transform: scaleX(1.2);
      margin-right: 20px;
      outline: none;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    margin-top: 40px;

    &_header-text {
      font-size: 1.8rem;
      text-align: left;
      width: 250px;
    }

    &_text {
      margin-top: 20px;
      font-size: 1.2rem;
      text-align: left;
      max-width: 250px;
    }
  }

  &__imageSlider {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }

  &__imageSection {
    display: flex;
    justify-content: center;
    align-items: center;

    &_photo {
      width: 900px;
      height: 450px;
      margin: 0 20px;
    }

    &_btn {
      color: white;
      background-color: transparent;
      border: none;
      font-size: 100px;
      line-height: 82px;
      outline: none;
    }
  }
}

.first-image-detailed {
  background-image: url("../../../../assets/images/gallery/first.webp");
  background-repeat: no-repeat;
  background-size: 100%;
}

.second-image-detailed {
  background-image: url("../../../../assets/images/gallery/second.webp");
  @include imageProperties;
}

.third-image-detailed {
  background-image: url("../../../../assets/images/gallery/third.webp");
  @include imageProperties;
}

.forth-image-detailed {
  background-image: url("../../../../assets/images/gallery/forth.webp");
  @include imageProperties;
}

.fifth-image-detailed {
  background-image: url("../../../../assets/images/gallery/fifth.webp");
  @include imageProperties;
}

.sixth-image-detailed {
  background-image: url("../../../../assets/images/gallery/sixth.webp");
  @include imageProperties;
}
