@import "../../../../sass/variables.scss";
@import "../../../../sass/mixin.scss";
@mixin imageProperties {
  background-repeat: no-repeat;
  background-size: 100%;
}
.galleryDetailed__container {
  padding: 40px 30px;
  background-color: #2f2b32;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 15;
}

.detailedContent {
  width: 100%;
  height: 100%;
  &__header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;

    &_btn {
      background-color: transparent;
      border: none;
      color: $main-white-color;
      font-size: 30px;
      transform: scaleX(1.2);
      margin-right: 50px;
      outline: none;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    margin-top: 40px;
    margin-right: 75px;

    &_header-text {
      font-size: 1.4rem;
      text-align: left;
      width: 404px;
    }

    &_text {
      margin-top: 30px;
      font-size: 1.1rem;
      text-align: left;
      width: 404px;
    }
  }

  &__imageSlider {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  &__imageSection {
    display: flex;
    justify-content: center;
    align-items: center;

    &_photo {
      width: 900px;
      height: 450px;
      margin: 0 20px;
    }

    &_btn {
      color: white;
      background-color: transparent;
      border: none;
      font-size: 100px;
      line-height: 82px;
      outline: none;
    }
  }
}

.first-image-detailed {
  background-image: url("../../../../assets/images/gallery/first.webp");
  background-repeat: no-repeat;
  background-size: 100%;
}

.second-image-detailed {
  background-image: url("../../../../assets/images/gallery/second.webp");
  @include imageProperties;
}

.third-image-detailed {
  background-image: url("../../../../assets/images/gallery/third.webp");
  @include imageProperties;
}

.forth-image-detailed {
  background-image: url("../../../../assets/images/gallery/forth.webp");
  @include imageProperties;
}

.fifth-image-detailed {
  background-image: url("../../../../assets/images/gallery/fifth.webp");
  @include imageProperties;
}

.sixth-image-detailed {
  background-image: url("../../../../assets/images/gallery/sixth.webp");
  @include imageProperties;
}

@media (max-width: 414px) {
  .galleryDetailed__container {
    padding: 15px 20px 40px;
    overflow: hidden;
  }

  .detailedContent {
    &__header {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: flex-start;

      &_btn {
        font-size: 20px;
        margin-right: 0;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0;
      width: 100%;

      &_header-text {
        font-size: 1.4rem;
        text-align: left;
      }

      &_text {
        margin-top: 30px;
        font-size: 1.1rem;
        text-align: left;
        width: 90%;
      }
    }

    &__imageSlider {
      margin-top: 60px;
    }

    &__imageSection {
      &_photo {
        width: 414px;
        height: 250px;
      }
    }
  }
}
