@import "../../../sass/variables.scss";
@import "../../../sass/mixin.scss";

.theStudio-cover {
  padding: 100px 300px;
  background-image: url("../../../assets/images/background/gloves.webp");
  @include background-image-style;

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-white-color;

    &_main-header {
      font-size: 4.8rem;
      letter-spacing: 17px;
    }

    &_text {
      font-size: 1.1rem;
      color: $main-dark-white-color;
      letter-spacing: 1px;
      max-width: 480px;
      text-align: center;
      margin-top: 45px;
    }

    &_sub-header {
      font-size: 1.8rem;
      letter-spacing: 10px;
      margin-top: 80px;
    }

    &_sub-header-description {
      font-size: 1.4rem;
      letter-spacing: 2px;
      margin-top: 25px;
    }
    &_sub-header-description-second {
      font-size: 1.4rem;
      letter-spacing: 2px;
      margin-top: 10px;
    }
  }
}
